{%extends 'base.html'%}
{%block content%}{{block.super}}

<div class="container-fluid">
  <div class="theprojects">
    {%for item in projs%}
    <div class="pcard card" style="width: 30%; height: 90%;">
    
      <div class="card-header" >
        <div class="image-holder">
          <a href="{%url 'single' item.id%}">
            <img style="height:100%; width: 100%; "class="image" src="{{item.pic.url}}" alt="">
          </a>
        </div>
      </div>
      <hr>
    
      <div class="card-body">
        <a href="{%url 'single' item.id%}">
          <h4>{{item.title}}</h4>
        </a>
        <hr>
        <a href="/profile/{{item.owner.id}}">
          <p class="text-muted">{{item.owner}}</p>
        </a>        

      </div>
      <hr>
      <br>
    </div>
    <br><br><br>
    {%endfor%} 
  </div>
</div>


<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

  body{
      height: 100vh;
      width: 100vw;  
  }
  .container-fluid{
      background-color:#5a5a5a;
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      height: 100%;
      width: 100%;

  }



  .prof-card{
      width: 380px;
      border: none;
      border-radius: 15px;
      padding: 8px;
      background-color: #000080;
      color: white;
      position: relative;
      height: 370px
  }

  .pcard{
      width: 380px;   
      background-color: #000080;
      color: white;
      height: 370px  

  }

  .upper {
      height: 100px
  }

  .upper img {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px
  }

  .user {
      position: relative
  }

  .profile img {
      height: 80px;
      width: 80px;
      margin-top: 2px
  }

  .profile {
      position: absolute;
      top: -50px;
      left: 38%;
      height: 90px;
      width: 90px;
      border: 3px solid #fff;
      border-radius: 50%
  }

  .follow {
      border-radius: 15px;
      padding-left: 20px;
      padding-right: 20px;
      height: 35px
  }

  .stats span {
      font-size: 29px
  }
  .theprojects{
      display: grid;
      grid-template-columns: auto auto auto;
      margin: 0 auto;
      margin-left: 8%;

  }
</style>

{%endblock%}

