{%extends 'base.html'%}

 {% block content %}

 <div class="container-fluid theconts">

   <div class="row">
     <img src="{{project.pic.url}}"  class="img-responsive" alt="">
   </div>

   <div class="row">
     <h1 class="text-center">{{project.title}}</h1>
   </div>

    <h4>Details</h4>
    <p>{{project.description}}</p>
    
    <p><h4>Owner:</h4>{{project.owner}}</p>
    <p><h4>Link</h4>{{project.link}}</p>

    <div class="row">
      <p>{{ratings.count}} ratings</p>
      <div class="col-md-4">
        <p><h4>Usability:</h4>{{usability}}</p>
      </div>
      <div class="col-md-4">
        <p><h4>Design:</h4>{{design}}</p>
      </div>
      <div class="col-md-4">
        <p><h4>Content:</h4>{{content}}</p>
      </div>      
    </div>




    <form  action="{%url 'single' project.id%}" method="post" enctype="multipart/form-data">
      {%csrf_token%}
      ie="submit" class="btn btn-success btn-lg" value="Post">
    </form>
  
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %} {% endblock %}
 </div>

 {% endblock %}