{%extends 'base.html'%} 
{% block content %}
<div class="container-fluid theconts">

  <div class="row">
    {% if projs%}
      <h2>Found {{ imgs|length }} results{{title}}</h2>
    {% else %}
      <h2> Found 0 projects for the search term {{title}}</h2>
    {% endif %}
    {% if message%}
      <h2>{{message}}</h2>
    {%endif%}

  </div>

  <!-- <div class="row "> -->

  {% if projs %}
  <div class="theprojects">
    {%for item in projs%}
    <div class="pcard card" style="width: 60%;">
    
      <div class="card-header" >
        <div class="image-holder">
          <img class="image" src="{{item.image.url}}" alt="">
        </div>
      </div>
      <hr>
    
      <div class="card-body">
        <h4>{{item.title}}</h4>
        <hr>        
        <p class="text-muted">{{item.owner}}</p>
      </div>
      <hr>
      <br>
    </div>
    <br><br><br>
    {%endfor%} 
  </div>

  {% endif %}
  <!-- </div> -->
</div>
{% endblock %}

<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

.container-fluid {
    background-color: #545454;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    height: 100vh
}


.prof-card{
    width: 380px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #000080;
    color: white;
    position: relative;
    height: 370px
}

.pcard{
    width: 380px;   
    background-color: #000080;
    color: white;
    height: 370px  

}

.upper {
    height: 100px
}

.upper img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.user {
    position: relative
}

.profile img {
    height: 80px;
    width: 80px;
    margin-top: 2px
}

.profile {
    position: absolute;
    top: -50px;
    left: 38%;
    height: 90px;
    width: 90px;
    border: 3px solid #fff;
    border-radius: 50%
}

.follow {
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px
}

.stats span {
    font-size: 29px
}
.theprojects{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100vw;
    margin: 0 auto;
    margin-left: 8%;

}
</style>